@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* Prevent page scroll when no-scroll class applied to body */
body.no-scroll {
  overflow: hidden;
  height: 100vh; /* Optional, to prevent some mobile scroll glitches */
}

a {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.container h1 {
  font-size: 70px;
  font-weight: 300;
}
